#output {
    border: solid 4px;
    text-align: right;
    padding-right: 20px;
    margin-bottom: 10px;
}
#input {
    border: solid 4px;
    text-align: right;
    padding-right: 20px;
    margin-bottom: 10px;
}

#row1 {
    text-align: right;
    position: fixed;
    margin-left: 90%;
}

#plus {
    border: solid 2px;
    padding: 0px 20px;
    margin-bottom: 10px;
}
#minus {
    border: solid 2px;
    padding: 0px 20px;
    margin-bottom: 10px;
}
#multiply {
    border: solid 2px;
    padding: 0px 20px;
    margin-bottom: 10px;
}
#divide {
    border: solid 2px;
    padding: 0px 20px;
}

#one{
    border: solid 2px;
    display: inline-block;
    padding: 30px 60px;
    margin: 0px 5%;
}
#two{
    border: solid 2px;
    display: inline-block;
    padding: 30px 60px;
    margin: 0px 10%;
}
#three{
    border: solid 2px;
    display: inline-block;
    padding: 30px 60px;
    margin: 0px 5%;
}

#four{
    border: solid 2px;
    display: inline-block;
    padding: 30px 60px;
    margin: 0px 5%;
}
#five{
    border: solid 2px;
    display: inline-block;
    padding: 30px 60px;
    margin: 0px 10%;
}
#six{
    border: solid 2px;
    display: inline-block;
    padding: 30px 60px;
    margin: 0px 5%;
}
#seven{
    border: solid 2px;
    display: inline-block;
    padding: 30px 60px;
    margin: 0px 5%;
}
#eight{
    border: solid 2px;
    display: inline-block;
    padding: 30px 60px;
    margin: 0px 10%;
}
#nine{
    border: solid 2px;
    display: inline-block;
    padding: 30px 60px;
    margin: 0px 5%;
}

#zero{
    border: solid 2px;
    display: inline-block;
    padding: 30px 120px;
    margin: 0px 10%;
}
#equal{
    border: solid 2px;
    display: inline-block;
    padding: 30px 120px;
    margin: 0px 5%;
}

